<template>
    <div>
        <!-- Top block -->
        <div>
            <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </div>
        <div class="d-flex justify-space-between">
            <div class="d-flex ga-3">
                <v-text-field type="number" label="Order No" variant="filled"></v-text-field>
                <v-text-field class="username-search-box" type="text" label="User Name" variant="filled"></v-text-field>
            </div>
            <v-btn color="teal-lighten-1" @click="$router.push({ path: 'orders/create' })">
                Search
            </v-btn>

        </div>
        <!-- End Top block -->

        <!-- Table -->
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        Order No
                    </th>
                    <th class="text-left">
                        User
                    </th>
                    <th class="text-left">
                        Total Amount
                    </th>
                    <th class="text-left">
                        Status
                    </th>
                    <th class="text-left">
                        Order Date
                    </th>
                    <th class="text-left">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="item in orders" :key="item.name">
                    <td>{{ item.order_no }}</td>
                    <td>{{ item.user_id }}</td>
                    <td>{{ item.total_amount }}</td>
                    <td>{{ item.order_status }}</td>
                    <td>{{ item.order_date }}</td>
                    <td>
                        <div class="d-flex ga-3">
                            <v-btn @click="$router.push({ path: `/orders/${item.order_no}` })" icon="mdi-eye"
                                color="teal-lighten-1" size="small"></v-btn>
                            <v-btn @click="$router.push({ path: `/orders/${item.order_no}/edit` })"
                                icon="mdi-file-edit-outline" color="light-blue-darken-2" size="small"></v-btn>
                        </div>
                    </td>
                </tr>
            </tbody>
        </v-table>
        <!-- End Table -->

        <!-- Data Loading -->
        <div v-if="loading" class="d-flex justify-center mt-4">
            <TableProgress />
        </div>
        <!-- End Data Loading -->

        <!-- Pagination -->
        <div class="d-flex justify-end">
            <v-pagination v-model="page" :length="last_page" :total-visible="6"
                @update:modelValue="load(page)"></v-pagination>
        </div>


        <!-- Delete Dialog -->
        <v-dialog v-model="delete_dialog" width="auto">
            <DeleteDialog @cancel="delete_dialog = false" @confirm="deleteItem()" />
        </v-dialog>
        <!-- End Delete Dialog -->

        <!-- Error Dialog -->
        <v-dialog v-model="errorDialog" width="auto">
            <ErrorDialog :message="errorMessage" @confirm="errorDialog = false" />
        </v-dialog>
        <!-- End Error Dialog -->
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading: false,
            last_page: 1,
            delete_dialog: false,
            errorDialog: false,
            errorMessage: false,
            delete_id: null,
            page: 1,
            breadcrumbs: [
                {
                    title: 'Dashboard',
                    disabled: false,
                    href: '/',
                },
                {
                    title: 'Orders',
                    disabled: true,
                },
            ],
            orders: [],
            baseUrl: this.$config.public.baseUrl,
        }
    },

    created() {
        this.load();
    },

    methods: {
        async load() {
            this.orders = [];
            this.loading = true;
            let data = await $fetch(`${this.baseUrl}/api/orders`, {
                params: {
                    page: this.page
                }
            });
            this.orders = data.orders.data;
            this.last_page = data.orders.meta.last_page;
            this.loading = false;
        },

        async deleteItem() {
            this.delete_dialog = false;

            // api call
            // loading.value = true;
            const { data: response, error, status } = await useFetch(`${this.baseUrl}/api/orders/${this.delete_id}`, {
                method: 'DELETE'
            });
            // loading.value = false;
            //end api call

            if (status.value === "success") {
                this.load();
            } else {
                this.errorMessage = error.value.statusMessage;
                this.errorDialog = true;
            }
        }
    }
}
</script>
<style scoped>
.username-search-box {
    width: 400px;
    max-width: 400px;
}
</style>