<template>
    <v-card>
        <v-card-text>
            Are you sure want to delete?
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue-grey" variant="text" @click="cancel()">
                Cancel
            </v-btn>
            <v-btn color="red-darken-4" variant="text" @click="confirm()">
                Yes
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    methods: {
        cancel() {
            this.$emit("cancel");
        },

        confirm() {
            this.$emit("confirm");
        }
    }
}
</script>

<style></style>