<template>
    <v-card>
        <v-card-text>
            {{ message ?? "Success" }}
        </v-card-text>
        <v-card-actions class="d-flex justify-center">
            <v-btn color="teal-lighten-1" variant="text" @click="confirm()">
                OK
            </v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
export default {
    props: {
        message: String
    },
    methods: {
        cancel() {
            this.$emit("cancel");
        },

        confirm() {
            this.$emit("confirm");
        }
    }
}
</script>

<style></style>