<template>
    <div>
        <div>
            <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </div>
        <div class="mt-4">
            <v-row class="d-flex justify-center mt-4">
                <v-col lg="8" md="10" sm="12" xs="12">
                    <v-sheet class="pa-10" elevation="2" color="grey-lighten-5">
                        <div class="d-flex justify-center text-h6">
                            Create Category {{ dialog_type }}
                        </div>
                        <div class="mt-4">
                            <v-form fast-fail @submit.prevent="save" ref="form">
                                <v-text-field v-model="name" :rules="nameRules" label="Category name"></v-text-field>
                                <v-textarea class="mt-4" v-model="description" :rules="descriptionRules"
                                    label="Description"></v-textarea>

                                <div class="d-flex justify-end ga-4">
                                    <v-btn color="red-lighten-1" class="mt-2"
                                        @click="$router.push({ path: '/categories' })">Cancel</v-btn>
                                    <v-btn color="blue-darken-1" class="mt-2" @click="form.reset()">Reset</v-btn>
                                    <v-btn :loading="loading" type="submit" color="teal-lighten-1"
                                        class="mt-2">Create</v-btn>
                                </div>

                            </v-form>
                        </div>
                    </v-sheet>
                </v-col>
            </v-row>

        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue'
import { useDialogStore } from '@/stores/dialog'
import { dialogTypeEnum } from '~/enums/dialog_type'

//use
const dialogStore = useDialogStore();
const config = useRuntimeConfig()

//import
const baseUrl = config.public.baseUrl;

//ref
const name = ref('');
const description = ref('');
const loading = ref(false);
const form = ref();
const successDialog = ref(false);
const successMessage = ref("")
const errorDialog = ref(false);
const errorMessage = ref("")
const breadcrumbs = ref([
    {
        title: 'Dashboard',
        disabled: false,
        href: '/',
    },
    {
        title: 'Categories',
        disabled: false,
        href: '/categories'
    },
    {
        title: 'Create',
        disabled: true,
    },
]);

//validation
const nameRules = ref([
    v => !!v || 'Category name is required',
    v => (v && v.length <= 50) || 'Category name must be less than 50 characters'
]);

const descriptionRules = ref([
    v => (v.length <= 300) || 'Description must be less than 300 characters'
]);


//methods

//form submit
const save = async () => {
    //input validation
    const { valid } = await form.value.validate();

    if (valid) {
        // api call
        loading.value = true;
        const { data: response, error, status } = await useFetch(`${baseUrl}/api/categories`, {
            method: 'POST',
            body: {
                'name': name.value,
                'description': description.value
            },
        });
        loading.value = false;
        //end api call

        if (status.value === "success") {
            const message = response.value.message ?? `${name.value} has been created successfully`;
            dialogStore.openDialog(dialogTypeEnum.SUCCESS, message);
            form.value.reset();
        } else {
            const message = error.value.data?.message;
            dialogStore.openDialog(dialogTypeEnum.ERROR, message);
        }
    }
}

</script>
