<template>
    <div>
        <!-- Top block -->
        <div>
            <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </div>
        <div class="d-flex justify-space-between">
            <div class="search-box">
                <v-text-field label="Search" variant="filled"></v-text-field>
            </div>
            <v-btn color="teal-lighten-1" @click="$router.push({ path: 'categories/create' })">
                Create
            </v-btn>

        </div>
        <!-- End Top block -->

        <!-- Table -->
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        Name
                    </th>
                    <th class="text-left">
                        Description
                    </th>
                    <th class="text-left">
                        Actions
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr v-for="item in categories" :key="item.name">
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <div class="d-flex ga-3">
                            <v-btn @click="$router.push({ path: `/categories/${item.slug}` })" icon="mdi-eye"
                                color="teal-lighten-1" size="small"></v-btn>
                            <v-btn @click="$router.push({ path: `/categories/${item.slug}/edit` })"
                                icon="mdi-file-edit-outline" color="light-blue-darken-2" size="small"></v-btn>
                            <v-btn icon="mdi-delete-off" color="red-darken-3" size="small"
                                @click="delete_dialog = true; delete_id = item.id"></v-btn>
                        </div>
                    </td>
                </tr>
            </tbody>
        </v-table>
        <!-- End Table -->

        <!-- Data Loading -->
        <div v-if="loading" class="d-flex justify-center mt-4">
            <TableProgress />
        </div>
        <!-- End Data Loading -->

        <!-- Pagination -->
        <div class="d-flex justify-end">
            <v-pagination v-model="page" :length="last_page" :total-visible="6"
                @update:modelValue="load(page)"></v-pagination>
        </div>


        <!-- Delete Dialog -->
        <v-dialog v-model="delete_dialog" width="auto">
            <DeleteDialog @cancel="delete_dialog = false" @confirm="deleteItem()" />
        </v-dialog>
        <!-- End Delete Dialog -->

        <!-- Error Dialog -->
        <v-dialog v-model="errorDialog" width="auto">
            <ErrorDialog :message="errorMessage" @confirm="errorDialog = false" />
        </v-dialog>
        <!-- End Error Dialog -->
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading: false,
            last_page: 1,
            delete_dialog: false,
            errorDialog: false,
            errorMessage: false,
            delete_id: null,
            page: 1,
            breadcrumbs: [
                {
                    title: 'Dashboard',
                    disabled: false,
                    href: '/',
                },
                {
                    title: 'Categories',
                    disabled: true,
                },
            ],
            categories: [],
            baseUrl: this.$config.public.baseUrl,
        }
    },

    created() {
        this.load();
    },

    methods: {
        async load() {
            this.categories = [];
            this.loading = true;
            let data = await $fetch(`${this.baseUrl}/api/categories`, {
                params: {
                    page: this.page
                }
            });
            this.categories = data.categories.data;
            this.last_page = data.categories.meta.last_page;
            this.loading = false;
        },

        async deleteItem() {
            this.delete_dialog = false;

            // api call
            // loading.value = true;
            const { data: response, error, status } = await useFetch(`${this.baseUrl}/api/categories/${this.delete_id}`, {
                method: 'DELETE',
                headers: {
                    Accept: 'application/json',
                },
            });
            // loading.value = false;
            //end api call

            if (status.value === "success") {
                this.load();
            } else {
                this.errorMessage = error.value.data?.message;
                this.errorDialog = true;
            }
        }
    }
}
</script>
<style scoped>
.search-box {
    width: 60%;
    max-width: 400px;
}
</style>