<template>
    <div>
        <div>
            <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </div>
        <div class="mt-4">
            <v-row class="d-flex justify-center mt-4">
                <v-col lg="8" md="10" sm="12" xs="12">
                    <v-sheet class="pa-10" elevation="2" color="grey-lighten-5">
                        <div class="d-flex justify-center text-h6">
                            Create Product {{ dialog_type }}
                        </div>
                        <div class="mt-4">
                            <v-form fast-fail @submit.prevent="save" ref="form">
                                <v-text-field v-model="name" :rules="nameRules" label="Product name"></v-text-field>
                                <v-textarea class="mt-4" v-model="description" :rules="descriptionRules"
                                    label="Description"></v-textarea>
                                <v-text-field class="mt-4" type="number" v-model="price" :rules="priceRules"
                                    label="Price"></v-text-field>
                                <v-text-field class="mt-4" type="number" v-model="stockQuantity" :rules="stockQuantityRules"
                                    label="Stock Quantity"></v-text-field>
                                <v-autocomplete v-model="categoryId" :items="categories" item-title="name" item-value="id"
                                    label="Category">
                                </v-autocomplete>

                                <div class="d-flex justify-end ga-4">
                                    <v-btn color="red-lighten-1" class="mt-2"
                                        @click="$router.push({ path: '/products' })">Cancel</v-btn>
                                    <v-btn color="blue-darken-1" class="mt-2" @click="form.reset()">Reset</v-btn>
                                    <v-btn :loading="loading" type="submit" color="teal-lighten-1"
                                        class="mt-2">Create</v-btn>
                                </div>
                            </v-form>
                        </div>
                    </v-sheet>
                </v-col>
            </v-row>

        </div>
    </div>
</template>

<script setup>
import { ref } from 'vue'
import { useDialogStore } from '@/stores/dialog'
import { dialogTypeEnum } from '~/enums/dialog_type'

//use
const dialogStore = useDialogStore();
const config = useRuntimeConfig();

//import
const baseUrl = config.public.baseUrl;

//ref
const name = ref('');
const description = ref('');
const price = ref('');
const stockQuantity = ref('');
const categoryId = ref('');
const categoryPage = ref(1);

const loading = ref(false);
const form = ref();
const successDialog = ref(false);
const successMessage = ref("")
const errorDialog = ref(false);
const errorMessage = ref("")
const categories = reactive([])
const breadcrumbs = ref([
    {
        title: 'Dashboard',
        disabled: false,
        href: '/',
    },
    {
        title: 'Products',
        disabled: false,
        href: '/products'
    },
    {
        title: 'Create',
        disabled: true,
    },
]);

//validation
const nameRules = ref([
    v => !!v || 'Product name is required',
    v => (v && v.length <= 50) || 'Product name must be less than 50 characters'
]);

const descriptionRules = ref([
    v => (v.length <= 300) || 'Description must be less than 300 characters'
]);

const priceRules = ref([
    v => !!v || 'Price is required',
    v => !isNaN(v) || 'Price must be number'
]);

const stockQuantityRules = ref([
    v => !!v || 'Stock Quantity is required',
    v => !isNaN(v) || 'Stock Quantity must be number'
]);


//methods

//mounted
onMounted(async () => {
    await nextTick();
    getCategory();
});

const getCategory = async () => {
    let data = await $fetch(`${baseUrl}/api/categories`, {
        params: {
            page: categoryPage.value
        }
    });
    categories.push(...data.categories.data);
}

//form submit
const save = async () => {
    //input validation
    const { valid } = await form.value.validate();

    if (valid) {
        // api call
        loading.value = true;
        const { data: response, error, status } = await useFetch(`${baseUrl}/api/products`, {
            method: 'POST',
            body: {
                'name': name.value,
                'description': description.value,
                'price': price.value,
                'stock_quantity': stockQuantity.value,
                'category_id': categoryId.value
            },
        });
        loading.value = false;
        //end api call

        if (status.value === "success") {
            const message = response.value.message ?? `${name.value} has been created successfully`;
            dialogStore.openDialog(dialogTypeEnum.SUCCESS, message);
            form.value.reset();
        } else {
            const message = error.value.data?.message;
            dialogStore.openDialog(dialogTypeEnum.ERROR, message);
        }
    }
}

</script>
