<template>
    <div>
        <div>
            <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
        </div>
        <div class="mt-4">
            <v-row class="d-flex justify-center mt-4">
                <v-col lg="8" md="10" sm="12" xs="12">
                    <v-sheet class="pa-10" elevation="2" color="grey-lighten-5">
                        <div class="d-flex justify-center text-h6">
                            Edit Order
                        </div>
                        <div class="mt-4">
                            <v-form fast-fail @submit.prevent="save" ref="form">
                                <v-text-field disabled v-model="name" label="Order No"></v-text-field>

                                <div class="d-flex justify-end ga-4">
                                    <v-btn color="red-lighten-1" class="mt-2"
                                        @click="$router.push({ path: '/orders' })">Cancel</v-btn>
                                    <v-btn color="blue-darken-1" class="mt-2" @click="reset">Reset</v-btn>
                                    <v-btn :loading="loading" type="submit" color="teal-lighten-1"
                                        class="mt-2">Update</v-btn>
                                </div>

                            </v-form>
                        </div>
                    </v-sheet>
                </v-col>
            </v-row>

        </div>
    </div>
</template>

<script setup>

//import
import { ref } from 'vue'
import { useDialogStore } from '@/stores/dialog'
import { dialogTypeEnum } from '~/enums/dialog_type'
import { nextTick } from 'vue';

//use
const dialogStore = useDialogStore();
const config = useRuntimeConfig()
const route = useRoute()

//const
const baseUrl = config.public.baseUrl;

//ref
const order = ref('');
const name = ref('');
const description = ref('');
const loading = ref(false);
const form = ref();
const successDialog = ref(false);
const successMessage = ref("")
const errorDialog = ref(false);
const errorMessage = ref("")
const breadcrumbs = ref([
    {
        title: 'Dashboard',
        disabled: false,
        href: '/',
    },
    {
        title: 'Orders',
        disabled: false,
        href: '/orders'
    },
    {
        title: 'Edit',
        disabled: true,
    },
]);

//validation
const nameRules = ref([
    v => !!v || 'Order name is required',
    v => (v && v.length <= 50) || 'Order name must be less than 50 characters'
]);

const descriptionRules = ref([
    v => (v.length <= 300) || 'Description must be less than 300 characters'
]);

//mounted
onMounted(async () => {
    await nextTick();
    getDetail();
});

//methods

const getDetail = async () => {
    const { data: response, error, status } = await useAsyncData('orders', () => useFetch(`${baseUrl}/api/orders/${route.params.order_no}`));
    // console.log(response.value.data.name)
    if (status.value === "success") {
        order.value = response.value.data.order;
        name.value = response.value.data.order.order_no;
        description.value = response.value.data.order.description;
    } else {
        const message = error.value.data?.message;
        dialogStore.openDialog(dialogTypeEnum.ERROR, message);
    }
}

//form submit
const save = async () => {
    //input validation
    const { valid } = await form.value.validate();

    if (valid) {
        // api call
        loading.value = true;
        const { data: response, error, status } = await useFetch(`${baseUrl}/api/orders/${order.value.id}`, {
            method: 'PUT',
            body: {
                'name': name.value,
                'description': description.value
            },
        });
        loading.value = false;
        //end api call

        if (status.value === "success") {
            const message = response.value.message ?? `${name.value} has been created successfully`;
            dialogStore.openDialog(dialogTypeEnum.SUCCESS, message);
            order = response.value.order;
        } else {
            const message = error.value.data?.message;
            dialogStore.openDialog(dialogTypeEnum.ERROR, message);
        }
    }
}

const reset = async () => {
    name.value = order.value.name;
    description.value = order.value.description;
}

</script>
