<template>
    <v-app id="inspire">
        <v-navigation-drawer v-model="drawer">
            <v-list density="compact">
                <v-list-subheader>User Management</v-list-subheader>

                <v-list-item v-for="(item, i) in user_menus" :key="i" :value="item" color="primary">
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>

                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-subheader>Product Management</v-list-subheader>

                <v-list-item @click="changeRoute(item.path)" v-for="(item, i) in product_menus" :key="i" :value="item"
                    color="primary">
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>

                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item>
                <v-divider></v-divider>
                <v-list-subheader>Order Management</v-list-subheader>

                <v-list-item @click="changeRoute(item.path)" v-for="(item, i) in order_menus" :key="i" :value="item"
                    color="primary">
                    <template v-slot:prepend>
                        <v-icon :icon="item.icon"></v-icon>
                    </template>

                    <v-list-item-title v-text="item.text"></v-list-item-title>
                </v-list-item>
            </v-list>
        </v-navigation-drawer>

        <v-app-bar>
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

            <v-app-bar-title>Market</v-app-bar-title>
        </v-app-bar>

        <v-main>
            <div class="pa-4">
                <slot />
            </div>
        </v-main>

        <!-- Dialog -->
        <v-dialog v-model="is_open" width="auto">
            <SuccessDialog v-if="dialog_type === 'success'" :message="message" @confirm="dialogStore.closeDialog()" />
            <ErrorDialog v-if="dialog_type === 'error'" :message="message" @confirm="dialogStore.closeDialog()" />
        </v-dialog>
        <!-- End Dialog -->
    </v-app>
</template>
  
<script setup>
import { ref } from 'vue'
import { useDialogStore } from '@/stores/dialog'
const router = useRouter()
const dialogStore = useDialogStore();


const { is_open, message, dialog_type } = storeToRefs(dialogStore);

const drawer = ref(null)
const user_menus = ref([
    { text: 'Admin', icon: 'mdi-account-group-outline' },
])
const product_menus = ref([
    { text: 'Category', icon: 'mdi-sitemap', path: '/categories' },
    { text: 'Product', icon: 'mdi-package-variant', path: '/products' }
])
const order_menus = ref([
    { text: 'Order', icon: 'mdi-order-bool-ascending-variant', path: '/orders' },
])

const changeRoute = (path) => router.push({ path });
</script>