<template>
    <div>
        <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
    </div>
    <v-container>
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        Label
                    </th>
                    <th class="text-left">
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Order No</td>
                    <td>{{ order.order_no }}</td>
                </tr>
                <tr>
                    <td>User</td>
                    <td>{{ order?.user?.name }}</td>
                </tr>
                <tr>
                    <td>Order Ddate</td>
                    <td>{{ order.order_date }}</td>
                </tr>
            </tbody>
        </v-table>
    </v-container>
</template>
<script setup>
//import
import { ref } from 'vue'

//use
const config = useRuntimeConfig()
const route = useRoute()

//const
const baseUrl = config.public.baseUrl;

//ref
const breadcrumbs = ref([
    {
        title: 'Dashboard',
        disabled: false,
        href: '/',
    },
    {
        title: 'Orders',
        disabled: false,
        href: '/orders'
    },
    {
        title: 'Detail',
        disabled: true,
    },
]);

const order = ref("");
const errorDialog = ref(false);
const errorMessage = ref("")

//mounted
onMounted(async () => {
    await nextTick();
    getDetail();
});

//methods

const getDetail = async () => {
    const { data: response, error, status } = await useFetch(`${baseUrl}/api/orders/${route.params.order_no}`);
    if (status.value === "success") {
        order.value = response.value.order;
    } else {
        errorMessage.value = error.value.data?.message;
        errorDialog.value = true;
    }
}
</script>
<style lang="">
    
</style>