<template>
    <div>
        <v-breadcrumbs :items="breadcrumbs" divider="-"></v-breadcrumbs>
    </div>
    <v-container>
        <v-table>
            <thead>
                <tr>
                    <th class="text-left">
                        Label
                    </th>
                    <th class="text-left">
                        Value
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Name</td>
                    <td>{{ category.name }}</td>
                </tr>
                <tr>
                    <td>Description</td>
                    <td>{{ category.description }}</td>
                </tr>
                <tr>
                    <td>Created Time</td>
                    <td>{{ category.created_at }}</td>
                </tr>
            </tbody>
        </v-table>
    </v-container>
</template>
<script setup>
//import
import { ref } from 'vue'

//use
const config = useRuntimeConfig()
const route = useRoute()

//const
const baseUrl = config.public.baseUrl;

//ref
const breadcrumbs = ref([
    {
        title: 'Dashboard',
        disabled: false,
        href: '/',
    },
    {
        title: 'Categories',
        disabled: false,
        href: '/categories'
    },
    {
        title: 'Detail',
        disabled: true,
    },
]);

const category = ref("");
const errorDialog = ref(false);
const errorMessage = ref("")

//mounted
onMounted(async () => {
    await nextTick();
    getDetail();
});

//methods

const getDetail = async () => {
    const { data: response, error, status } = await useFetch(`${baseUrl}/api/categories/${route.params.slug}`);
    if (status.value === "success") {
        category.value = response.value.category;
    } else {
        errorMessage.value = error.value.data?.message;
        errorDialog.value = true;
    }
}
</script>
<style lang="">
    
</style>